
#numbers span{
	float: left;
	text-align: center;
	font-size: 60px;
	margin: 0 2.5%;
	color: #fff;
	padding: 20px;
	width: 80%;
	border-radius: 20px;
	box-sizing: border-box;
}

#legend span{
	float: left;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	color: #ddd;
	text-transform: uppercase;
	font-size: 64px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}